@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rubik+Wet+Paint&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 320px;
    font-weight: 900;
    font-style: normal;      
}

.clock-container {
    position: relative;
}

#clock {
    position: relative;
    overflow: hidden;
}

#seconds {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}
